@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", serif;
  box-sizing: border-box;
}

:root {
  --shade-1: #0d1321;
  --shade-2: rgba(13, 19, 33, 0.02);
  /* #0D132103 */
  --shade-3: rgba(13, 19, 33, 0.7);
}

/* Nav Section */
.nav-section {
  max-width: 1140px;
  margin: 36px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section h3 {
  color: var(--shade-1);
}

.nav-section button {
  color: var(--shade-1);
  border: 1px solid var(--shade-1);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px;
}

/* Hero Section */
.hero-section {
  width: 100%;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 26px 0 45px;
}

.hero-section .hero-image {
  margin: 0 auto;
  display: block;
}

.hero-section .hero-title {
  max-width: 998px;
  color: var(--shade-1);
  text-align: center;
  margin: 32px auto 24px;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
}

.hero-section .hero-desc {
  max-width: 852px;
  color: #0d1321;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.hero-section a {
  text-decoration: none;
}

.hero-section .hero-btn {
  padding: 21px 24px;
  display: block;
  margin: 32px auto 0;
  border-radius: 8px;
  background: var(--shade-1);
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* * why-dev-section */

.why-dev-section {
  max-width: 1140px;
  margin: 80px auto;
  border-radius: 16px;
  background: var(--shade-2);
  padding: 80px 97px;
}

.why-dev-section .why-dev-title {
  color: var(--shade-1);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.why-dev-section .why-dev-desc {
  margin: 24px auto 48px;
  max-width: 852px;
  color: var(--shade-1);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.why-dev-section .why-dev-box1,
.why-dev-section .why-dev-box2 {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 48px;
}
.why-dev-section .why-dev-box1 {
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  justify-content: space-between;
}

.why-dev-section .why-dev-box2 {
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  margin: 32px 0;
  gap: 32px;
}

.why-dev-section .why-dev-box1 .why-dev-content .content-title,
.why-dev-section .why-dev-box2 .why-dev-content .content-title {
  color: var(--shade-3);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.why-dev-section .why-dev-box1 .why-dev-content .content-title {
  max-width: 390px;
}

.why-dev-section .why-dev-box2 .why-dev-content .content-title {
  max-width: 477px;
}

.why-dev-section .why-dev-box1 .why-dev-content .content-desc,
.why-dev-section .why-dev-box2 .why-dev-content .content-desc {
  max-width: 468px;
  margin: 16px 0 32px;
  color: var(--shade-1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.why-dev-section .why-dev-box1 .why-dev-content .content-link,
.why-dev-section .why-dev-box2 .why-dev-content .content-link {
  text-decoration: none;
}

.why-dev-section .why-dev-box1 .why-dev-content .content-link button,
.why-dev-section .why-dev-box2 .why-dev-content .content-link button {
  padding: 12px 20px;
  border: 1px solid var(--shade-1);
  opacity: 0.7;
  background-color: #fff;
}
