@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Azeret Mono", serif;
  box-sizing: border-box;
}

:root {
  --shade-1: #0d1321;
  --shade-2: rgba(13, 19, 33, 0.02);
  /* #0D132103 */
  --shade-3: rgba(13, 19, 33, 0.7);
  --shade-4: rgba(13, 19, 33, 0.2);
  --shade-5: rgba(255, 76, 30, 0.05);
  --shade-6: rgba(0, 76, 232, 0.05);
  --shade-7: rgba(255, 223, 0, 0.05);
  --shade-8: rgba(13, 19, 33, 0.15);
}

/* Nav Section */
.nav-section {
  max-width: 1140px;
  margin: 36px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-section h3 {
  color: var(--shade-1);
}

.nav-section button {
  color: var(--shade-1);
  border: 1px solid var(--shade-1);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px;
}

/* Hero Section */
.hero-section {
  width: 100%;
  background-image: url("../images/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 26px 0 45px;
}

.hero-section .hero-image {
  margin: 0 auto;
  display: block;
}

.hero-section .hero-title {
  max-width: 998px;
  color: var(--shade-1);
  text-align: center;
  margin: 32px auto 24px;
  font-size: 48px;
  font-style: normal;
  font-weight: 800;
  line-height: 68px;
}

.hero-section .hero-desc {
  max-width: 852px;
  color: #0d1321;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.hero-section a {
  text-decoration: none;
}

.hero-section .hero-btn {
  padding: 21px 24px;
  display: block;
  margin: 32px auto 0;
  border-radius: 8px;
  background: var(--shade-1);
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* * why-dev-section */

.why-dev-section {
  max-width: 1140px;
  margin: 80px auto;
  border-radius: 16px;
  background: var(--shade-2);
  padding: 80px 97px;
}

.why-dev-section .why-dev-title {
  color: var(--shade-1);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.why-dev-section .why-dev-desc {
  margin: 24px auto 48px;
  max-width: 852px;
  color: var(--shade-1);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.why-dev-section .why-dev-box1,
.why-dev-section .why-dev-box2 {
  display: flex;
  align-items: center;
  border-radius: 16px;
  padding: 48px;
}
.why-dev-section .why-dev-box1 {
  background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  justify-content: space-between;
}

.why-dev-section .why-dev-box2 {
  background: linear-gradient(270deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  margin: 32px 0;
  gap: 32px;
}

.why-dev-section .why-dev-box1 .why-dev-content .content-title,
.why-dev-section .why-dev-box2 .why-dev-content .content-title {
  color: var(--shade-3);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.why-dev-section .why-dev-box1 .why-dev-content .content-title {
  max-width: 390px;
}

.why-dev-section .why-dev-box2 .why-dev-content .content-title {
  max-width: 477px;
}

.why-dev-section .why-dev-box1 .why-dev-content .content-desc,
.why-dev-section .why-dev-box2 .why-dev-content .content-desc {
  max-width: 468px;
  margin: 16px 0 32px;
  color: var(--shade-1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
}

.why-dev-section .why-dev-box1 .why-dev-content .content-link,
.why-dev-section .why-dev-box2 .why-dev-content .content-link {
  text-decoration: none;
}

.why-dev-section .why-dev-box1 .why-dev-content .content-link button,
.why-dev-section .why-dev-box2 .why-dev-content .content-link button {
  padding: 12px 20px;
  border: 1px solid var(--shade-1);
  opacity: 0.7;
  background-color: #fff;
}

/* * Inspiration Section */
.inspiration-section {
  max-width: 1140px;
  max-height: 775px;
  margin: 0 auto;
}

.inspiration-section .inspiration-title {
  color: var(--shade-1);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.inspiration-section .inspiration-desc {
  max-width: 852px;
  color: var(--shade-1);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin: 24px auto 48px;
}

.inspiration-section .inspiration-video {
  border-radius: 16px;
  border: 1px solid var(--shade-4);
  padding: 32px;
}

.inspiration-section .inspiration-video .iframe-video {
  border-radius: 16px;
  width: 100%;
  height: 544px;
}

/* * Current Target Section */

.current-target-section {
  max-width: 1140px;
  margin: 80px auto;
}

.current-target-section .current-target-title {
  color: var(--shade-1);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.current-target-section .current-target-desc {
  max-width: 852px;
  color: var(--shade-1);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin: 24px auto 48px;
}

.current-target-section .skills {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
}

.current-target-section .skills .skill {
  padding: 40px;
  border-radius: 16px;
  height: 328px;
}

.current-target-section .skills .skill:nth-child(1) {
  background: var(--shade-5);
}
.current-target-section .skills .skill:nth-child(2) {
  background: var(--shade-6);
}
.current-target-section .skills .skill:nth-child(3) {
  background: var(--shade-7);
}

.current-target-section .skills .skill .skill-title {
  color: var(--shade-1);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px;
  margin: 24px 0 8px;
}

.current-target-section .skills .skill .skill-desc {
  color: var(--shade-1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin-bottom: 24px;
}

.current-target-section .skills .skill .skill-link {
  color: var(--shade-1);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration-line: underline;
}

/* * Next Target Section */
.next-target-section {
  max-width: 1140px;
  margin: 0 auto;
}

.next-target-section .next-target-title {
  color: var(--shade-1);
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.next-target-section .next-target-desc {
  max-width: 852px;
  color: var(--shade-1);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  margin: 24px auto 48px;
}

.next-target-section .target-box {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 40px;
  border-radius: 16px;
  background: #fff;
  border: 1px solid var(--shade-8);
}

.next-target-section .next-target-skills .target-box:nth-child(2) {
  margin: 24px 0;
}

.next-target-section .target-box .target-content .content-title {
  color: var(--shade-1);
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 36px; /* 150% */
}

.next-target-section .target-box .target-content .content-desc {
  color: var(--shade-1);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
  margin: 8px 0 24px;
}

.next-target-section .target-box .target-content .content-link {
  color: var(--shade-1);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* * Support Section */
.support-section {
  max-width: 1140px;
  margin: 48px auto 80px;
  padding: 64px 48px;
  border-radius: 16px;
  background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2) 0%,
      rgba(0, 0, 0, 0.2) 100%
    ),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%),
    url(../images/handshake.jpg) lightgray 50% / cover no-repeat;
}

.support-section .support-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px; /* 112.5% */
}

.support-section .support-desc {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  opacity: 0.7;
  margin: 16px auto 24px;
  max-width: 606px;
}

.support-section .feedback-msg {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.support-section .feedback-msg .feedback-input {
  padding: 19px 20px;
  background: #fff;
  border-radius: 8px;
  border: 1px solid var(--shade-8);
  width: 548px;
  border: none;
}

.support-section .feedback-msg .feedback-btn {
  padding: 17px 20px;
  border-radius: 8px;
  background: #fff;
  color: var(--shade-1);
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border: none;
}
